<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
  <%= link_to "Test-Guru", root_path, class: 'navbar-brand' %>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to t('.panel'), admin_tests_path, class: 'nav-link'%>
      </li>
      <li class="nav-item active">
        <%= link_to t('.gists'), admin_gists_path, class: 'nav-link'%>
      </li>
      <li class="nav-item active">
        <%= link_to t('.badges'), admin_badges_path, class: 'nav-link'%>
      </li>
    </ul>
  </div>
  <span class="navbar-text">
    <%= greeting %> |
    <%= link_to t('.logout'), destroy_user_session_path, method: :delete %>
  </span>
</nav>
