<h1>Вы проходите <%= @test_passage.test.title %> тест</h1>

<b><%= t('.time_remain') %>: </b>
<%= duration_field(@test_passage) %>

<strong> Число вопросов: <%= questions_amount(@test_passage) %></strong><br>

<div class='progress' style="height: 25px">
  <%= content_tag :div,
                  "",
                  class: "progress-bar progress-text bg-info progress-bar-striped progress-bar-animated",
                  html: { style: "height: 25px"},
                  data: { question_number: question_number(@test_passage),
                          questions_amount: questions_amount(@test_passage) } %>
</div>

<b>
  <%= question_number(@test_passage) %>.
  <%= @test_passage.current_question.body %>
</b>

<%= form_with url: test_passage_path(@test_passage), local: true, class: 'form-pass', method: :put do |form| %>
  <%= form.collection_check_boxes :answer_ids, @test_passage.current_question.answers, :id, :body, include_hidden: false do |b| %>
    <p>
      <%= b.check_box id: "answers_ids_#{b.object.id}" %>
      <%= b.label %>
    </p>
  <% end %>

  <p><%= link_to 'Gist Вопрос', gist_test_passage_path(@test_passage), method: :post %></p>
  <p><%= form.submit 'Дальше' %></p>
<% end %>
