<div class="header">
  <div class="nav user">
    <%= link_to "Test-Guru", root_path %> |
  </div>
  <% if user_signed_in? %>
    <div class="nav user">
      <%= greeting %> |
    </div>
    <div class="nav user">
      <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
    </div>
  <% else %>
    <div class="nav user">
      <%= link_to 'Register', new_user_registration_path %>  |
    </div>
    <div class="nav user">
      <%= link_to 'Login', new_user_session_path %>
    </div>
  <% end %>
</div>
