<tr align="center">
  <td><%= test.title %></td>
  <td><%= test_level(test) %></td>
  <td><%= test.questions.count %></td>
  <td><%= button_to t('.show'), admin_test_path(test), class: 'btn btn-info', method: :get %></td>
  <td><%= button_to t('.edit'), edit_admin_test_path(test), class: 'btn btn-primary', method: :get  %></td>
  <td><%= button_to t('.delete'),
                    admin_test_path(test),
                    method: :delete,
                    data: { confirm: 'Are you sure?' },
                    class: 'btn btn-danger' %>
  </td>
</tr>
