<tr align="center">
  <td><%= test.title %></td>
  <td><%= test_level(test) %></td>
  <%= test_duration(test) %>
  <td><%= test.questions_count %></td>
  <td><%= button_to t('.start'), start_test_path(test), class: 'btn btn-outline-success' %></td>
</tr>
